{
  "APP_ENV": "local",
  "APP_NAME": "wiki-cronjob",
  "APP_VERSION": "1.0.0",
  "APP_PORT": 9002,
  "APP_HOST": "http://localhost",
  "API_PREFIX": "",

  "MONGO_URI": "mongodb+srv://doadmin:1U04WibnL2uy6895@db-mongodb-sgp1-16717-d288ab7f.mongo.ondigitalocean.com/wikiblock?authSource=admin&replicaSet=db-mongodb-sgp1-16717&tls=true",
  "REDIS_URI": "redis://10.104.0.2:6371",
  "AWS_ACCESS_KEY_ID": "AKIAR6EKX3Z5AXXBXWE3",
  "AWS_SECRET_ACCESS_KEY": "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",
  "AWS_REGION": "ap-southeast-1",
  "AWS_S3_BUCKET": "1fox",
  "LOG_LEVEL": "debug",
  "FRONTEND_HOST": "",
  "JWT_SECRET": "@secret",
  "JWT_ACCESS_TOKEN_EXP": "3650 days",
  "JWT_REFRESH_TOKEN_EXP": "365 days",
  "RESET_PASSWORD_TOKEN_EXP": "30 minutes",
  "VERIFY_EMAIL_TOKEN_EXP": "30 days",
  "CONFIRM_REQUEST_TOKEN_EXP": "5 minutes",
  "MAILGUN_API_KEY": "",
  "MAILGUN_PUBLIC_KEY": "",
  "MAILGUN_DOMAIN": "",
  "COINMARKETCAP_API_KEY": "53a5f2ea-b2ab-431f-993c-ca203e5d32ce",
  "MARKETCAP_FETCH_INTERVAL": 900000,
  "MODE": "production",
  "CRYPTO_LISTENING_KEY": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjcxODQ2Mjk3LWMyMmItNGY0MS1hNjNlLTA2OTdlN2E2ZmE5YiIsIm5hbWUiOiJBZG1pbmlzdHJhdG9yIiwiZW1haWwiOiJhZG1pbkBnbWFpbC5jb20iLCJyb2xlX2lkIjoiNDdmYmYzZjYtNzllOS00MTQ4LTliYTQtOTc0Y2ZhZGFiZTc1IiwibGFuZ3VhZ2UiOiJ2aSIsInJlZkNvZGUiOiIzMyIsImlhdCI6MTY2Njg0MTM5MSwiZXhwIjoxNzUzMjQxMzkxfQ.MrgjDa8dtDLy02q4v-xOOv4MvYY702BU_V--Y01u2Ks",
  "CRYPTO_LISTENING_BASE_URL": "https://api.cryptolistening.io/v1",
  "DATAFI_API_URL": "https://bi.thedatafi.com/",
  "DATAFI_USERNAME": "dajneem23@gmail.com",
  "DATAFI_PASSWORD": "k_upRYCNE5kjPZ",
  "DATAFI_TOKEN": "32e3bdd6-1ef9-4b4f-af60-ac523c638ae5",
  "MB_DB_DBNAME": "wiki-metabase",
  "MB_DB_PORT": 25061,
  "MB_DB_USER": "doadmin",
  "MB_DB_PASS": "AVNS_WapOKVPvPeL5u_BncPH",
  "MB_DB_HOST": "db-postgresql-sgp1-97588-do-user-12634457-0.b.db.ondigitalocean.com",
  "TELEGRAM_BOT_TOKEN": "5683483658:AAHb21JNVX-cDh2snwcCuQk4xSm0R4WDyNM",
  "NANSEN_ALERT_GROUP_ID": "-1001867436913",
  "DISCORD_BOT_TOKEN": "MTAxMTg3MjA3MDM4NjMzMTc2OQ.GIpVER.zkBqF5-KNgaQHlqUFfXjM4dbHka0PaEo65uiu0",
  "DISCORD_BOT_CLIENT_ID": "1011872070386331769",
  "DISCORD_NOTIFICATION_CHANNEL_ID": "1011856604989247560"
}
